src/main/resources/WSDL/QA/GeteIDCompareValidatorBReq_Fault.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://cl.equifax.com/schema/eIDCompareValidator/GeteIDCompareValidatorBReq" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="faultcode" type="xs:string" />
  <xs:element name="faultstring" type="xs:unsignedByte" />
  <xs:element name="detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="message" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>